body{
    margin-top: 100px;
}


img{
    width: 200px;
    height: fit-content;
    
}

a{
    text-decoration: none;
    color: #283618;
    transition: color 0.3s ease;
    background:#f4f1de;
    padding: 8px;
    border-radius: 10px;
    
}

a:hover{
    color: #f4f1de;
    background:#354f52;
    padding: 8px;
    border-radius: 10px;
}
.card{
    margin: 0px auto;
    padding: 20px;
    width: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: space-around;
    background: #354f52;
    border-bottom: 6px solid #f4f1de;
    border-radius: 10px;
    color: #edf2f4;
    transition: all 2s ease;
}

.card:hover{
    
    background: #f4f1de;
    border-bottom: 6px solid #354f52;
    font-family: Verdana, Helvetica, sans-serif;
    color: #283618;
}

